page, .main{
  height: 100%;
}
.location{  
  box-sizing: border-box;
  width: 100%;
  padding: 0 .5rem;
  margin-bottom: .5rem;
  .change-shop{
    color: #C6834E;
    margin-right: .5rem;
  }
  .shop-name{
    font-weight: 600;
    font-size: 16px;
    margin-right: .5rem;
  }
  .outer-tran{
    color: #8a8a8a;
    border: 1px solid #8a8a8a;
    border-radius: .4em;
    padding: 0 .2rem;
    font-size: 12px;
  }
  .contact{    
    font-size: 12px;
    color: #8a8a8a;
    margin-top: .2rem;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.main-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: .5rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .left-list{    
    width: 28%;
    height: 100%;
    font-size: 14px;    
    color: #8a8a8a;
    background-color: #efefef;
  } 
  .left-item{
    padding: 1rem .3rem;
    border-left: 4px solid transparent;
    .name{
      margin-right: .2rem;
    }
  }
  .active.left-item{
    color: #000;
    border-left: 4px solid #C6834E;
    background-color: #fff;
  }
  .right-content{
    width: 70%;
    height: 100%;
    .banner{
      image{
        width: 100%;
        height: 150px;
      }
    }
    .content-item{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 1rem 0;
      image{
        width: 120rpx;
        height: 120rpx;
      }      
    }
    .list-title{
      margin: .5rem 0;
    }
    .pro-info{
      display: flex;      
      flex-direction: column;
      padding-left: .5rem;
    }
    .pro-title{
      margin: .2rem 0;
      font-size: 14px;      
    }
    .pro-detail{
      height: 32px;
      font-size: 10px;
      line-height: 16px;
      vertical-align: middle;
      color: #8a8a8a;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .price{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 32px;   
      .new{
        color: #C6834E;
        font-size: 16px;             
        font-weight: 550;        
        margin-right: .5rem;
      }
      .old{
        position: relative;
        top: -.15em;
        color: #8a8a8a;
        font-size: 12px;              
        vertical-align: middle;
        text-decoration: line-through;                
      }
      .select{
        display: flex;
        font-size: 20px;
        flex-direction: row;
        align-items: center; 
      }
      .nums{
        margin: 0 .5rem;                      
        text-align: center;
        color: #C6834E;
      }
      .add{   
        font-size: 20px;     
        margin-right: .5rem;
        color: #C6834E;
      }
      .mins{
        font-size: 20px;
        color: #acacac;
      }
      .spec-btn{
        position: absolute;
        height: 20px;
        line-height: 20px;
        font-size: 10px;
        right: .5rem;
        color: #fff;
        background-color: #C6834E;
        border-radius: 20px;
        padding: 0 .5rem;
      }
      .spec-btn-num{
        position: absolute;
        top: -.5em;
        width: 16px;
        height: 16px;
        font-size: 10px;
        line-height: 16px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #fff;
        background-color: #C6834E;        
      }      
    }
  }
  .chos-spec{
    position: fixed;
    width: 600rpx;
    height: 700rpx;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: .5rem .5rem .5rem .5rem;    
    font-size: 12px;
    border-radius: 1em;
    background-color: #fff;
    .spec-title{
      text-align: center;
      margin-bottom: .2rem;
      font-size: 14px;
      font-weight: bold;
      .close{
        float: right;
        font-size: 20px;
      }
    }
    .spec-scroll-view{
      height: 500rpx;
      .view-item{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #efefef;
        padding: .5rem 0;
      }
      .spec-name{
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        justify-content: center;        
        align-items: center; 
        width: 2rem;   
        font-size: 12px;  
        color: #646363;   
      }
      .spec-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .spec-item{        
        margin: .2rem; 
        position: relative;                       
        &:first-child{
          margin: 0;
        }
        text:first-child{
          display: inline-block;          
          height: 24px;          
          line-height: 24px;
          padding: 0 1rem;
          font-size: 12px;
          border: 1px solid #646363; 
          border-radius: 24px;
          color: #646363;
        }
        text.selected {
          background-color: #C6834E;
          color: #fff;
          border-color: #C6834E;
          .discount-price{
            color: #fff;
          }
        }
        .star{
          position: absolute;
          right: 5px;
          top: 5px;
          color: #C6834E;          
          font-size: 10px;
        }
        .star.selected{
          color: rgb(243, 232, 75);
          background-color: transparent;          
          border: none;          
        } 
        text.discount-price{
          border: none;
          color: #C6834E;
          padding: 0;          
        }
      }                 
    }
    .spec-add{
      background-color: #C6834E;
      padding: .5rem .3rem;
      border-radius: 5px;
      font-size: 12px;
      color: #fff;
      .iconfont{
        margin-right: .2rem;
      }
    }  
  }
}
.mask{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,.4);
}
.shopping-bag{    
  background-color: #dedede;
  position: fixed;
  z-index: 8;
  bottom: 0;
  left: 0;
  width: 100%;    
  .bag{
    background-color: #fff;
    height: 2rem;    
    line-height: 2rem;
    margin-left: .5rem;    
    padding: .2rem .5rem;
    position: absolute;
    top: -.2rem;
    border-radius: 2rem;
  }
  .num{
    position: absolute;
    top: -.1em;
    right: -.5em;
    width: 1rem;
    height: 1rem;
    color: #fff;
    font-size: .8rem;
    line-height: 1rem;
    border-radius: 50%;
    text-align: center;    
    border: 1px solid #fff;
  }
  .normal{
    background-color: #C6834E;
  }
  .alertNum{
    background-color: rgb(185, 1, 1);
  }
  .iconfont{
    font-size: 1rem;
    margin-right: .2em;
  }
  .total-price{
    float: right;
    padding: .8rem 1rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .submit{
    float: right;
    padding: .8rem 1.5rem;
    color: #fff;
    font-size: 1rem;
    background-color: #C6834E;
  }
}





.icon-xinpin{
  color: #a30;  
}
.icon-binggan{
  color: rgb(199, 179, 2);  
}
.icon-miao{
  color: #C6834E;
}
.icon-huangguan{
  color: rgb(199, 179, 2);
}
.icon-shuiguo1{
  color: rgb(3, 182, 3);
}
.icon-cake{
  color: #C6834E;
}
.icon-mangguo{
  color: rgb(245, 193, 23);;  
}
.icon-caomei{
  color: #a30;
}
.icon-zhenzhunaicha{
  color: #333;
}
.icon-tiandian{
  color: rgb(0, 102, 255);
}
.icon-zhishi{
  color: #a30;
}
.icon-linggan{
  color: rgb(0, 140, 255);
}

