.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;

  >view {
    display: flex;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    padding: .3rem .5rem;
  }

  .addr {
    flex-direction: column;
  }

  .shop {
    font-size: 18px;
    margin: .3rem 0;
    text-align: left;
    font-weight: 500;

    .iconfont {
      font-size: 20px;
      position: relative;
      top: 2px;
    }
  }

  .distance {
    margin: .3rem 0;
    text-align: left;
  }

  .way {
    justify-content: space-between;

    view {
      width: 45%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 1px solid #efefef;
      border-radius: .5em;
      box-shadow: 0 0 10px #acacac;
      font-size: 14px;
      padding: .8rem 0;
      text-align: center;
    }

    .iconfont {
      margin-right: 1rem;
      font-size: 32px;
      vertical-align: bottom;
    }

    view.active {
      color: #C6834E;
      border-color: #C6834E;
    }
  }

  .confirm-time {
    color: #999;
  }

  .phone {
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: .5rem;
    border-bottom: 2px solid #efefef;

    .iconfont {
      margin-right: .5rem;
    }

    .auto-fill {
      padding: .3rem;
      border: 1px solid #C6834E;
      color: #C6834E;
    }
  }

  .title {
    color: #999;
    font-size: 12px;
    padding: .5rem;
    border-bottom: 2px solid #efefef;
  }

  .list {
    width: 100%;
    max-height: 400rpx;
    border-bottom: 2px solid #efefef;
  }

  .list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;

    .content {
      width: 65%;
      padding-left: .5rem;

      .name {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: .2rem;
      }

      .spec-content {
        font-size: 10px;
      }
    }

    .num {
      width: 15%;
      font-size: 14px;
      text-align: center;
    }

    .price {
      width: 20%;
      text-align: right;
      padding-right: .8rem;
    }

    .new-pri {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: .2rem;
    }

    .old-pri {
      font-size: 12px;
      color: #999;
      text-decoration: line-through;
    }
  }

  .discount-name::after {
    content: 'æŠ˜';
    display: inline-block;
    font-size: 8px;
    color: #fff;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    background-color: rgb(236, 67, 67);
    border-radius: .2em;
    position: relative;
    top: -.2em;
  }

  .gray-word {
    color: #999;
  }

  .total{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem;
    border-bottom: 2px solid #efefef;
    .total-price{
      color: #000;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .info {
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: .5rem;    
    border-bottom: 2px solid #efefef;
    .right{
      color: #999;
    }
    .iconfont {
      margin-left: .5 em;
      font-size: 20px;
      position: relative;
      top: 3px;
    }
  }
  .pay{
    position: fixed;
    bottom: 0;    
    padding: .5rem;
    background-color: #999;
  }
}